In [1]:
import numpy as np
import talib
import pandas as pd
#import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../dataset/^TWII.csv")
df = df.dropna()
close = df['Adj Close'].values
df = df.drop(['Date','Open','High','Low','Close','Volume'], 1)
#close = [float(x) for x in df['Adj Close']]
close = np.array(close)
#df.head(10)

In [3]:
trend = []
for idx, c in enumerate(close):
    if idx < len(close) - 1:
        re = close[idx+1] - c
        tr = 0
        if re > 0:
            tr = 1
    else :
        tr = 0
    trend.append(tr)

df['Trend'] = np.array(trend)
df.head(10)

     Adj Close  Trend
0  8996.686523      1
1  9027.596680      1
2  9192.536133      1
3  9322.805664      0
4  9305.235352      1
5  9362.645508      1
6  9429.706055      0
7  9394.595703      1
8  9593.503906      0
9  9555.945313      0

In [4]:
n = 20
df['SMA'] = talib.SMA(close,timeperiod=n)
df['ROC'] = talib.ROC(close,timeperiod=n)
df['RSI'] = talib.RSI(close,timeperiod=n)
df['MACD'],df['MACDsignal'],df['MACDhist'] = talib.MACD(np.array(close),fastperiod=6, slowperiod=12, signalperiod=9)
df = df.dropna()
df = df.drop(['MACDsignal','MACDhist'], 1)
df.head(10)

       Adj Close  Trend          SMA        ROC        RSI        MACD
20   9942.751953      1  9547.133447  10.515710  72.352743  127.546220
21  10066.311523      0  9599.069189  11.505995  73.953557  140.532412
22  10001.521484      1  9639.518457   8.800459  71.663250  133.660218
23  10065.721680      0  9676.664258   7.968803  72.549961  132.097480
24   9919.641602      0  9707.384570   6.602802  67.491569  106.083179
25   9861.432617      0  9732.323926   5.327416  65.573865   78.021342
26   9840.842773      1  9752.880762   4.360016  64.887380   54.916238
27   9923.801758      0  9779.341064   5.633090  66.380118   49.477360
28   9897.232422      0  9794.527490   3.165981  65.442185   40.511648
29   9807.703125      0  9807.115381   2.634567  62.318879   21.506019

In [ ]:
#RSI1 = talib.RSI(close,timeperiod=20)
#RSI2 = talib.RSI(close,timeperiod=60)
#RSI3 = talib.RSI(close,timeperiod=120)
#RSI4 = talib.RSI(close,timeperiod=200)

In [5]:
#cols = df.columns.tolist()
#cols = cols[-1:] + cols[:-1]
#df = df[cols]
df.to_csv('../dataset/TWII_4indicator_2class.csv', header=None, index=None, sep=',', mode='a')